## Settings file was created by plugin YouGotMail v1.1.9
## Plugin GUID: CookieMilk.YouGotMail

[Functionality]

## If on, mailboxes require stamps to send mail [Synced with Server]
# Setting type: Boolean
# Default value: true
Use Stamps = true

## Stamps required to send mail [Synced with Server]
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 0 to 1000
Stamp Required Amount = 0

## Prefabs to use as stamps [Synced with Server]
# Setting type: String
# Default value: Coins,Amber
Stamp Items = Coins,Amber

## If on, mail that uses a timer will be hidden until timer reaches 0. [Synced with Server]
# Setting type: Boolean
# Default value: true
Display All Mail = true

## If on, Hugin will arrive and perch on mailbox when you have mail. [Synced with Server]
# Setting type: Boolean
# Default value: true
Use Raven = true

## Set the text Hugin will say when you have mail, separate entries by a : [Synced with Server]
# Setting type: String
# Default value: You got mail!
Raven Text = You got mail!

## Set the interval between random texts [Synced with Server]
# Setting type: Single
# Default value: 30
# Acceptable value range: From 1 to 100
Raven Text Interval = 30

[General]

## Force Server Config [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

## Comma separated list of item names to exclude from the mailbox [Synced with Server]
# Setting type: String
# Default value: 
ExcludedItems = 

[Mailbox Variant 1]

## Build Category where Mailbox Variant 1 is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Mailbox Variant 1 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Mailbox Variant 1 is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Mailbox Variant 1
# Setting type: String
# Default value: Stone:25:True,Iron:1:True
Crafting Costs = Stone:25:True,Iron:1:True

[Mailbox Variant 2]

## Build Category where Mailbox Variant 2 is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Mailbox Variant 2 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Mailbox Variant 2 is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Mailbox Variant 2
# Setting type: String
# Default value: Stone:25:True,Iron:1:True
Crafting Costs = Stone:25:True,Iron:1:True

[Mailbox Variant 3]

## Build Category where Mailbox Variant 3 is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Mailbox Variant 3 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Mailbox Variant 3 is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Mailbox Variant 3
# Setting type: String
# Default value: Stone:25:True,Iron:1:True
Crafting Costs = Stone:25:True,Iron:1:True

[Mailbox Variant 4]

## Build Category where Mailbox Variant 4 is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Mailbox Variant 4 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Mailbox Variant 4 is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Mailbox Variant 4
# Setting type: String
# Default value: Stone:25:True,Iron:1:True
Crafting Costs = Stone:25:True,Iron:1:True

[Mailbox Variant 5]

## Build Category where Mailbox Variant 5 is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Mailbox Variant 5 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Mailbox Variant 5 is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Mailbox Variant 5
# Setting type: String
# Default value: Stone:25:True,Iron:1:True
Crafting Costs = Stone:25:True,Iron:1:True

[Mailbox Variant 6]

## Build Category where Mailbox Variant 6 is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Mailbox Variant 6 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Mailbox Variant 6 is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Mailbox Variant 6
# Setting type: String
# Default value: Stone:25:True,Iron:1:True
Crafting Costs = Stone:25:True,Iron:1:True

[Mailbox Wait Time]

## Set the in-game seconds to wait before you can accept mail with attachment [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 60
Seconds = 0

## Set the in-game minutes to wait before you can accept mail with attachment [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 60
Minutes = 0

## Set the in-game hours to wait before you can accept mail with attachment [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 24
Hours = 0

## Set the in-game days to wait before you can accept mail with attachment [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 365
Days = 1

[Visuals]

## If on, mailbox has a background [Not Synced with Server]
# Setting type: Boolean
# Default value: true
Background = true

## Set the position of the mailbox UI [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":0.0,"y":0.0}
Position = {"x":0.0,"y":0.0}

