## Settings file was created by plugin Wizardry v1.1.8
## Plugin GUID: Therzie.Wizardry

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

