## Settings file was created by plugin Warfare v1.8.9
## Plugin GUID: Therzie.Warfare

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

