## Settings file was created by plugin ZenBeehive v0.3.5
## Plugin GUID: ZenDragon.ZenBeehive

[_Author]

## ZenDragon
## Like my mods?
# Setting type: String
# Default value: https://github.com/ZenDragonX/ZenMods_Valheim/wiki
Website = https://github.com/ZenDragonX/ZenMods_Valheim/wiki

[_Debug]

## Generate additional debug information in the logs for this mod.
## This will cause a performance hit and should only be used for debugging.
# Setting type: Boolean
# Default value: false
Enable Logging = false

[Beehive]

## [Admin] Hold down the interact key when opening a beehive to automatically take all the honey.
# Setting type: Boolean
# Default value: true
Hold To Take All = true

## [Admin] Max honey that a beehive can hold. Logout for changes to take effect. (Vanilla: 4)
## Set to 0 to disable this config.
## Note: Max capacity can not exceed the stack size for the Item Prefab.
## Example: If the Item Prefab's max stack size is 50 then it won't matter if you put 999 here.
## It will never go above the item's max stack size limit.
## [restart game for changes to take effect]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 999
Max Capacity = 12

## [Admin] The prefab name of the item that grows inside a beehive. The Honey Item. 
## [logout for changes to take effect]
# Setting type: String
# Default value: Honey
Item Prefab = Honey

## [Admin] The number of seconds it takes to grow one unit of honey. (Vanilla: 1200)
## Set to 0 to disable this config.
## [restart game for changes to take effect]
# Setting type: Int32
# Default value: 0
# Acceptable value range: From 0 to 10000
Seconds Per Unit = 0