## Settings file was created by plugin ZenHoverItem v0.2.8
## Plugin GUID: ZenDragon.ZenHoverItem

[_Author]

## ZenDragon
## Like my mods?
# Setting type: String
# Default value: https://github.com/ZenDragonX/ZenMods_Valheim/wiki
Website = https://github.com/ZenDragonX/ZenMods_Valheim/wiki

[_Debug]

## Generate additional debug information in the logs
# Setting type: Boolean
# Default value: false
Enable Logging = false

[Armor Stand]

## [Admin] Display the hover icons for armor stands
# Setting type: Boolean
# Default value: false
Show Hover Icons = false

## [Admin] Display the hover text for armor stands
# Setting type: Boolean
# Default value: true
Show Hover Text = true

[Containers]

## [Admin] How many icons to display on containers?
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 0 to 5
Container Max Icons = 4

[Fuel]

## [Admin] Show the hover icon for fuelable things such as fireplaces, torches, and smelters
# Setting type: Boolean
# Default value: true
Show Fuel Hover Icon = true

## [Admin] This will adjust the fuel burn rate on fireplaces so the amount of days remaining when full are easily recognizable numbers. (Vanilla: false)
## Vanilla day lengths and fuel burn times are not evenly divisible resulting in awkward max fuel days.
## This adjusts the burn rate per unit of fuel so they divide evenly with the day length.
## The result is that max fuel days will be easily recognizable days 20, 25, 50, 60 instead of 22, 28, 56, 67.
## NOTE: If you are using the Seasons mod and have the fireplaceDrainMultipliers set (they are on by default), they will create uneven max fuel days.
## This is because calculations can no longer be computed linearly for all days and instead are based on per season variable burn rates.
## If you want nice easily recognizable max days while using Seasons then the easiest thing to do is set the per season burn rate multipliers back to 1.
## To edit Seasons config: Copy the Spring.js, Summer.js, Fall.js, and Winter.js files from the Seasons/DefaultSettings config folder up one level.
## Then edit each file and set the fireplaceDrainMultiplier to 1.0
# Setting type: Boolean
# Default value: true
Adjust Fuel Burn Rate = true

## [Admin] Show the fuel meter
# Setting type: FuelMeterType
# Default value: All
# Acceptable values: None, Fireplace, Smelter, ShieldGenerator, All
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Show Fuel Meter = All

[General]

## [Admin] Display hover icons on the crosshair for important pieces such as containers? (Global)
# Setting type: Boolean
# Default value: true
Show Hover Icons = true

Show Hover Icon For Fuel = false

Adjust Fuel Burn Rate = true

Show Fuel Mater = true

[Items]

## [Admin] Display the item description when hovering over items on the ground or on stands
# Setting type: Boolean
# Default value: true
Show Item Description = true

